<!DOCTYPE html>
<html lang="en-US">
<head>
	<script>
	if(window.location.href.search(/www/)>0){
		window.location = window.location.href.replace("www.","")
	}
	</script>
	{{! Document Settings }}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	{{! Page Title and Description }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />
	<meta name="keywords" content="Hoteles, Destinos, Cruceros, Grupos, Convenciones, Organización de Eventos, Bodas, Eventos Sociales, Viajes Individuales, Reservaciones, Cotizaciones de Eventos, Asesoría en Eventos, Negociación de Eventos, Como planear un eventos, como contratar un hotel, Cotiza en Linea Hoteles, RFP">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no" />
	<!-- fav icons -->
	<link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">
	<link rel="apple-touch-icon" href="{{asset "images/apple-touch-icon.png"}}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{asset "images/apple-touch-icon-72x72.png"}}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{asset "images/apple-touch-icon-114x114.png"}}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{asset "images/apple-touch-icon-144x144.png"}}">
	<!-- stylesheets -->
	{{! styles and fonts }}
	<link rel="stylesheet" href="{{asset "css/bootstrap.min.css"}}">
	<link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}">
	<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">
	{{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
	{{! znews javascript settings}}
	<script type="text/javascript">
	{{> znews}}
	</script>
	<script src="{{asset "js/ghost.thumbnails.js"}}"></script>
</head>
<body class="{{body_class}}">
	{{! insert header partial}}
	{{> header}}
	{{{body}}}
	{{! insert footer partial}}
	{{> footer}}
	<script>
              (function(i, s, o, g, r, a, m) {
                  i['GoogleAnalyticsObject'] = r;
                  i[r] = i[r] || function() {
                      (i[r].q = i[r].q || []).push(arguments)
                  }, i[r].l = 1 * new Date();
                  a = s.createElement(o),
                      m = s.getElementsByTagName(o)[0];
                  a.async = 1;
                  a.src = g;
                  m.parentNode.insertBefore(a, m)
              })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

              ga('create', 'UA-37524502-5', 'auto');
              ga('send', 'pageview');
        </script>
</body>
</html>